{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.phronemophobic/membrane {:local/root "../membrane2"}
        com.phronemophobic.membrane/skialib-macosx-aarch64 {:mvn/version "0.9.31.0-beta"}

        com.phronemophobic/dev-db {:local/root "../dev-db"}
        com.phronemophobic.membrane/viscous {:local/root "../viscous"}


        com.phronemophobic/schematic {:local/root "../schematic"}
        org.clojure/core.async {:mvn/version "1.5.648"}
        mogenslund/liquid {:mvn/version "2.0.3"}
        org.clojure/tools.analyzer.jvm {:mvn/version "1.1.0"}

        clojure-zulip/clojure-zulip {:local/root "../clojure-zulip"}
        org.clojure/data.xml {:mvn/version "0.0.8"}
        clj-tagsoup/clj-tagsoup {:mvn/version "0.3.0"}
        com.phronemophobic/membrane.search {:local/root "../search"}
}
 :aliases
 {:run-m {:main-opts ["-m" "com.phronemophobic.membrane.spreadsheet"]}
  :run-x {:ns-default com.phronemophobic.membrane.spreadsheet
          :exec-fn greet
          :exec-args {:name "Clojure"}}

  :project {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.1"}
                         com.phronemophobic/clj-reddit {:local/root "../clj-reddit"}}
            :jvm-opts ["-XX:+UnlockDiagnosticVMOptions"
                       "-Djdk.attach.allowAttachSelf=true"
                       "-XX:+DebugNonSafepoints"
                       "-Xmx8096M"]}

  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}
  :skija {:extra-deps {org.jetbrains.skija/skija-macos-x64 {:mvn/version "0.89.18"}
                       org.lwjgl/lwjgl {:mvn/version "3.2.3"}
                       org.lwjgl/lwjgl$natives-macos {:mvn/version "3.2.3"}
                       org.lwjgl/lwjgl-glfw {:mvn/version "3.2.3"}
                       org.lwjgl/lwjgl-glfw$natives-macos {:mvn/version "3.2.3"}
                       org.lwjgl/lwjgl-opengl {:mvn/version "3.2.3"}
                       org.lwjgl/lwjgl-opengl$natives-macos {:mvn/version "3.2.3"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "spreadsheet.jar"
                        :main-class "com.phronemophobic.membrane.spreadsheet"
                        :sync-pom true}}}

 :mvn/repos
 {"space-maven" {:url "https://packages.jetbrains.team/maven/p/skija/maven"}
  "sonatype-oss-public" {:url "https://oss.sonatype.org/content/groups/public/"}}}
